.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 80%;
  margin: 100px 0 0 0;
}

img{
  width: 40%;
  height: 40%;
  border-radius: 10px;
  margin-left: 30%;
  margin-bottom: 80px;
}

p {
  margin: 40px 0 40px 0;
}

span {
  color: #53f8c9;
}

@media (max-width: 800px) {
  .container {
    margin-left: auto;
  }
}
