<div class="container">
        <img src="assets/photo.png" alt="photo">
        <p>Aujourd’hui, je me concentre sur la découverte et l’apprentissage de <span>nouvelles
                        technologies</span> en développant différents projets. </p>
        <p>Actuellement, je me penche sur la réalisation d’une application de prise de
                notes en vue d’intégrer les notions basiques du C#. J’apprécie le <span>développement
                        software</span>, principalement dans l’utilisation de Java et de Python.</p>
        <p>Quand je ne code pas, je vais à la salle de sport, je joue aux jeux-vidéos et je regarde des films/séries.
        </p>
</div>