<div class="container">
    <p>Aujourd’hui, je me concentre sur la découverte et l’apprentissage de <span style="color:#53F8C9">nouvelles
            technologies</span> en développant différents projets. </p>
    <p>Actuellement, je me penche sur la réalisation d’une <span style="color:#53F8C9">application de prise de
            notes</span>
        en vue d’intégrer les notions basiques du C#. J’apprécie le <span style="color:#53F8C9">développement
            software</span>, principalement dans l’utilisation de Java et de Python.</p>
    <p>Quand je ne code pas, je vais à la salle de sport, je joue aux jeux-vidéos et je regarde des films/séries.</p>
</div>