.container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 30px;
  margin: 50px auto;
}

.dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 0.3;
}

.formations {
  display: flex;
  flex-direction: column;
  flex: 0.7;
}

.dates h1 {
  font-size: 1rem;
  font-weight: lighter;
  color: #f4f4f4;
  line-height: 1.5;
  display: flex;
  justify-content: left;
  align-items: center;
  flex: 1;
  border-radius: 5px;
  padding: 10px;
}

.formations h1 {
  font-weight: bold;
  color: #53f8c9;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .dates {
    display: none;
  }

  .formations {
    margin-left: 20%;
  }
}
