<div class="container">
    <div class="dates">
        <h1 class="date1">2022 - 2025</h1>
        <h1 class="date2">2022</h1>
    </div>
    <div class="formations">
        <h1>Bachelor Universitaire de Technologie</h1>
        <p>Formation à la réalisation d’applications. Conception, développement, validation et maintenance.
            Apprentissage de différentes méthodologies de travail, gestion d’équipe et communication. </p>

    <h1>Baccalauréat général</h1>
    <p>
      Admis mention Bien - Spécialités Mathématiques et Sciences du Numérique et
      de l’Informatique
    </p>
  </div>
</div>
