<div class="container">
    <div class="competence" style="--color:#effa1f;">
        <h1>Réaliser</h1>
        <p>C'est-à-dire concevoir, coder, tester et intégrer une solution informatique pour un client.</p>
    </div>
    <div class="competence" style="--color: #18ff37;">
        <h1>Optimiser</h1>
        <p>Proposer des applications informatiques optimisées en fonction de critères spécifiques.</p>
    </div>
    <div class="competence" style="--color: #44fff6;">
        <h1>Administrer</h1>
        <p>Installer, configurer et maintenir les infrastructures et services informatiques.</p>
    </div>
    <div class="competence" style="--color: #c146ff;">
        <h1>Gérer</h1>
        <p>Concevoir et exploiter les données de l’entreprise pour optimiser son fonctionnement.</p>
    </div>
    <div class="competence" style="--color: #ff288c;">
        <h1>Conduire</h1>
        <p>Organiser et piloter un projet informatique avec des méthodes classiques ou agiles.</p>
    </div>
    <div class="competence" style="--color: #fd1616;">
        <h1>Collaborer</h1>
        <p>Travailler efficacement en équipe et exploiter les aptitudes nécessaires.</p>
    </div>
</div>