<div class="container">
    <div class="competence">
        <h1>Réaliser</h1>
        <p>C'est-à-dire concevoir, coder, tester
            et intégrer une solution informatique pour un
            client.</p>
    </div>
    <div class="competence">
        <h1>Optimiser</h1>
        <p>Proposer des applications informatiques
            optimisées en fonction de critères spécifiques :
            temps d'exécution, précision, consommation de
            ressources..</p>
    </div>
    <div class="competence">
        <h1>Administrer</h1>
        <p>Installer, configurer, mettre à disposition, maintenir en conditions opérationnelles des
            infrastructures, des services et des réseaux et
            optimiser le système informatique d’une
            organisation</p>
    </div>
    <div class="competence">
        <h1>Gérer</h1>
        <p>Concevoir, gérer, administrer et exploiter les
            données de l'entreprise et mettre à disposition
            toutes les informations pour un bon pilotage de
            l'entreprise</p>
    </div>
    <div class="competence">
        <h1>Conduire</h1>
        <p>Satisfaire les besoins des utilisateurs au regard
            de la chaîne de valeur du client, organiser et
            piloter un projet informatique avec des méthodes
            classiques ou agiles</p>
    </div>
    <div class="competence">
        <h1>Collaborer</h1>
        <p>Acquérir, développer et exploiter les aptitudes
            nécessaires pour travailler efficacement dans une
            équipe informatique</p>
    </div>
</div>