.container {
  display: grid;
  gap: 20px;
  max-width: 900px;
  margin: 100px 50px 0px 0px;
}

.container-effect {
  position: relative;
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}

.container:hover .container-effect {
  opacity: 0.5;
}

.container-effect:hover {
  opacity: 1 !important;
  transform: scale(1.05);
  filter: brightness(1.2);
  backdrop-filter: blur(1.5rem);
}

.container-effect:hover .title {
  color: #53f8c9;
}

.project-container {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: opacity 0.3s ease;
}

.image {
  flex: 0.4;
  margin-left: 10px;
  min-height: 120px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid rgb(221, 221, 221); 
  border-radius: 10px;
  box-sizing: border-box;
}

.content {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 20px;
  height: 100%;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  transition: color 0.3s ease;
}

.details {
  font-size: 1rem;
  display: flex;
  flex-direction: column; 
  gap: 10px; 
}

.text {
  flex: 1; 
}

.competence-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.competence-btn {
  display: inline-block;
  padding: 8px 15px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #292929;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.competence-btn:hover {
  transform: scale(1.1);
}

.competence-btn[data-competence="Réaliser"] {
  background-color: #effa1f;
}
.competence-btn[data-competence="Optimiser"] {
  background-color: #18ff37;
}
.competence-btn[data-competence="Administrer"] {
  background-color: #44fff6;
}
.competence-btn[data-competence="Gérer"] {
  background-color: #c146ff;
}
.competence-btn[data-competence="Conduire"] {
  background-color: #ff288c;
}
.competence-btn[data-competence="Collaborer"] {
  background-color: #fd1616;
}

@media (max-width: 800px) {
  .project-container {
    flex-direction: column;
    text-align: center;
  }

  .image {
    flex: none;
    width: 100%;
    height: 150px;
  }

  .content {
    padding: 10px 0;
    align-items: center;
    text-align: center;
  }
}
