<div class="container">
    <div class="project-container">
        <div class="image">

        </div>
        <div class="content">
            <div class="title">Projet1</div>
            <div class="details">fzrgerg</div>
        </div>

    </div>
    <div class="project-container">
        <div class="image">

        </div>
        <div class="content">
            <div class="title">Projet2</div>
            <div class="details">fzfrfzegf</div>
        </div>

    </div>
    <div class="project-container">
        <div class="image">

        </div>
        <div class="content">
            <div class="title">Projet3</div>
            <div class="details">dfazfafa</div>
        </div>

    </div>
    <div class="project-container">
        <div class="image">

        </div>
        <div class="content">
            <div class="title">Projet4</div>
            <div class="details">fzrfgzgzrg</div>
        </div>

    </div>
</div>