@font-face {
  font-family: "k2d"; /* Nom de la police à utiliser */
  src: url("/polices/k2d-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  background-color: #06092c;
  color: #989898;
  font-family: "k2d", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  background: #06092c; 
}

.content::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px; 
}


.content::-webkit-scrollbar-thumb:hover {
  background: #555;
}


