.container{
    margin: 100px 30px 0px 30px;
}

.cv-download {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #bebebe;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .cv-download:hover {
    background-color: #2c68e0;
  }
  