.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.presentation {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  margin: 100px 0 0 200px;
}

.links nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  margin: 30px 0 0 200px;
}

.links a {
  position: relative;
  padding: 10px 0 10px 0;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: normal;
  text-decoration: none;
  color: white;
  background-image: linear-gradient(white, white);
  background-size: 0% 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.links a:hover {
  background-size: 50% 2px;
}

.links a.active {
  font-size: 2rem;
  font-weight: bold;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  max-width: 35%;
  margin: 100px 0 0 200px;
}

p {
  max-width: 70%;
}

i {
  font-size: 3rem;
  color: #3d3b59;
}

i:hover {
  color: rgb(216, 216, 216);
}

.presentation h1,
h3 {
  color: white;
}

@media (max-width: 800px) {
  .presentation,
  .links nav,
  .contact {
    margin-left: 20%;
  }

  .contact a {
    padding: 0 5% 0 5%;
  }
}
